<div
  class="d-flex flex-column p-4 gap-4 rounded-4 shadow bg-light"
  style="min-width: 490px"
>
  <h1 class="h2 text-center pb-4 border-bottom">User data</h1>
  <div class="">
    <p>
      <span class="pe-2">Email:</span>
      <span>
        {{ email }}
      </span>
    </p>
    <p>
      <span class="pe-2"> Password: </span>
      <span
        >{{ getPassword }}
        <i
          class="bi"
          [ngClass]="isHidden ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
          (click)="showPassword()"
        ></i>
      </span>
    </p>
  </div>
</div>
