<div class="flex justify-center items-center">
  <form
    [formGroup]="addProductForm"
    (submit)="submit()"
    class="grid grid-cols-1 outline outline-2 outline-[#ffc300] rounded-md shadow-lg pt-8 pb-4 px-8 gap-2 text-lg bg-gradient-to-b from-primary to-[#ffc300] min-w-[500px]"
  >
    <label
      *ngFor="let label of labels"
      class="flex justify-between items-center"
    >
      <span class="pr-3"
        >{{ label.text | uppercase }}
        {{ (label.text === "cena" ? "[pln]" : "") | uppercase }}</span
      >
      <input
        class="w-9/12 border-2 border-primary-dark rounded-lg px-2 py-1 text-base"
        [type]="label.inputType"
        [name]="label.text"
        [formControlName]="label.inputName"
      />
    </label>

    <div
      class="grid grid-cols-2 gap-4 justify-center items-center p-4 outline outline-1 rounded outline-[#ff9500]"
    >
      <label
        class="flex justify-between"
        [for]="category.name"
        *ngFor="let category of categories; let i = index"
      >
        <span>{{ category.name }}</span>
        <input
          type="radio"
          [id]="category.name"
          formControlName="category"
          [value]="category.name"
          (click)="setSubcategory(i)"
        />
      </label>
      <select class="col-span-2" formControlName="subcategory">
        <option *ngFor="let subcat of subcategory" [value]="subcat">
          {{ subcat }}
        </option>
      </select>
    </div>

    <textarea
      rows="5"
      placeholder="Opis produktu"
      formControlName="description"
    ></textarea>

    <div class="flex justify-center">
      <button
        class="mt-8 py-3 px-6 cursor-pointer rounded"
        [ngClass]="
          addProductForm.valid
            ? 'bg-accept-primary hover:bg-accept-hover border-lime-500 transition-colors ease-linear delay-75'
            : ' text-danger-primary cursor-not-allowed'
        "
        type="submit"
        [disabled]="!addProductForm.valid"
      >
        Add
      </button>
    </div>
  </form>

  <ng-template appSnackbar></ng-template>
</div>
