<li
  class="d-flex justify-content-between"
  [ngClass]="isHeader ? 'fw-bold' : 'py-3 px-2 rounded-2 border-b-2'"
>
  <div class="col-8">
    <p class="col-2">
      {{ product.brand | uppercase }}
      {{ product.model }}
    </p>
    <p class="col-1">{{ product.price }}</p>
    <p class="col-1">{{ product.category }}</p>
    <p class="col-1">{{ product.subcategory }}</p>
  </div>
  <div class="col-4">
    <button
      data-testid="updateBtn"
      *ngIf="!isHeader"
      (click)="update()"
      class="btn btn-warning"
    >
      modyfikuj
    </button>
    <button
      data-testid="removeBtn"
      (click)="remove()"
      *ngIf="!isHeader"
      class="btn btn-danger"
    >
      &minus;
    </button>
  </div>
</li>
