<li
  class="grid grid-cols-7 items-center my-2"
  [ngClass]="isHeader ? 'font-bold' : 'py-3 px-2 rounded-md border-b-2'"
>
  <p class="col-span-3">
    {{ product.brand | uppercase }}
    {{ product.model }}
  </p>
  <p>{{ product.price }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.subcategory }}</p>

  <div class="justify-self-end">
    <button
      (click)="remove()"
      *ngIf="!isHeader"
      class="px-3 py-1 mr-2 border-2 rounded bg-danger-primary text-white font-bold hover:bg-danger-hover active:bg-danger-clicked"
    >
      &minus;
    </button>
    <button
      *ngIf="!isHeader"
      (click)="update()"
      class="px-3 py-1 bg-primary hover:bg-primary-hover"
    >
      modyfikuj
    </button>
  </div>
</li>
