<li
  class="grid grid-cols-7 items-center my-2"
  [ngClass]="
    isHeader
      ? 'font-bold'
      : 'py-3 px-2 border-b bg-yellow-50 hover:shadow-md rounded-md'
  "
>
  <p class="col-span-3">
    {{ brand | uppercase }}
    {{ model }}
  </p>
  <p>{{ price }}</p>
  <p>{{ category }}</p>
  <p>{{ subcategory }}</p>

  <div class="justify-self-end">
    <button
      (click)="remove()"
      *ngIf="!isHeader"
      class="px-3 py-1 mr-2 border-2 rounded bg-red-500 text-white font-bold hover:bg-red-300"
    >
      &minus;
    </button>
    <button
      *ngIf="!isHeader"
      (click)="update()"
      class="text-white px-3 py-1 bg-yellow-300"
    >
      modyfikuj
    </button>
  </div>
</li>
