<div class="group z-50 absolute left-0 bottom-1/4 h-1/2">
  <ul
    class="group-hover:translate-x-0 -translate-x-full ease-in-out duration-150 shadow-xl rounded-r-lg px-3 py-8 bg-yellow-100 text-lg"
  >
    <li *ngFor="let link of sidebarLinks">
      <a
        class="p-3 hover:bg-yellow-50 flex items-center"
        [routerLink]="link.href"
        routerLinkActive="text-red-200 bg-yellow-50"
      >
        <span class="material-icons pr-3">{{ link.icon }}</span>
        <p>{{ link.label }}</p>
      </a>
    </li>
  </ul>
</div>
