<section class="flex justify-center">
  <div class="w-3/4 p-4 grid grid-cols-1 gap-4">
    <label class="flex items-center gap-2">
      <input
        type="text"
        [(ngModel)]="searcher"
        class="w-full p-1 px-2 rounded border-2 border-yellow-300"
      />
      <span class="material-icons">search</span>
    </label>

    <hr />

    <h2>Results for {{ searcher }}</h2>
    <ul>
      <app-product
        [isHeader]="true"
        brand="Nazwa"
        category="Kategoria"
        subcategory="Podkategoria"
        price="Cena [zł]"
      ></app-product>
      <hr class="my-3" />

      <app-product
        *ngFor="let product of getFoundProducts"
        (removeEmitter)="removeItem($event)"
        [brand]="product.brand"
        [model]="product.model"
        [description]="product.description"
        [category]="product.category"
        [subcategory]="product.subcategory"
        [price]="product.price"
      ></app-product>
    </ul>
  </div>
</section>
