<div
  class="flex flex-col p-10 gap-8 outline outline-3 outline-primary bg-gradient-to-b from-yellow-100 to-primary rounded-lg shadow-lg min-w-[490px]"
>
  <h1 class="font-bold pb-6 text-center border-b-2 border-secondary">
    Change password
  </h1>
  <label class="text-lg">
    <span>New password: </span>
    <input
      type="password"
      class="rounded p-1"
      [(ngModel)]="newPassword"
      name="newPassword"
      required
      minlength="6"
    />
  </label>

  <label class="flex flex-col text-center text-lg">
    <span class="pb-2"> Assign current password to proceed </span>
    <input
      type="password"
      class="rounded p-1"
      name="currentPassword"
      [(ngModel)]="currentPassword"
      required
    />
  </label>

  <div class="flex justify-center text-lg">
    <button
      [disabled]="
        (!currentPassword && !newPassword) || currentPassword === newPassword
      "
      (click)="updateData()"
      class="border-2 rounded shadow-md p-4"
      [ngClass]="
        (!currentPassword && !newPassword) || currentPassword === newPassword
          ? 'cursor-not-allowed bg-danger-primary text-white border-danger-clicked'
          : 'cursor-pointer bg-accept-primary hover:bg-accept-hover text-accept- border-lime-500 active:bg-accept-primary'
      "
    >
      Change
    </button>
  </div>
</div>
