<section *ngIf="product" class="flex justify-center">
  <form
    [formGroup]="form"
    (submit)="updateData()"
    class="flex flex-col gap-8 px-8 py-10 bg-gradient-to-b border-2 rounded-lg border-primary-dark from-primary to-primary-dark shadow-lg"
  >
    <div class="flex justify-between gap-5">
      <label>
        <span class="pr-1"> Firma: </span>
        <input
          type="text"
          formControlName="brand"
          class="py-1 px-2 outline outline-primary-dark rounded"
        />
      </label>
      <label>
        <span class="pr-1"> Model: </span>
        <input
          type="text"
          formControlName="model"
          class="py-1 px-2 outline outline-primary-dark rounded"
        />
      </label>
      <label>
        <span class="pr-1">Cena: </span>
        <input
          type="text"
          formControlName="price"
          class="py-1 px-2 outline outline-primary-dark rounded"
        />
      </label>
    </div>
    <div class="flex justify-center gap-8">
      <label *ngFor="let cat of categories; let i = index" class="flex">
        <input
          (click)="setSubcategories(i)"
          type="radio"
          name="category"
          formControlName="category"
          [value]="cat.name"
          [checked]="cat.name === product.category"
        />
        <p class="pl-2">{{ cat.name }}</p>
      </label>
    </div>
    <div class="flex justify-center">
      <select
        class="py-1 px-3 text-center outline outline-primary-dark rounded"
        formControlName="subcategory"
      >
        <option
          *ngFor="let sub of getSubcategories"
          [value]="sub"
          [selected]="sub === product.subcategory ? sub : getSubcategories[0]"
        >
          {{ sub }}
        </option>
      </select>
    </div>

    <div>
      <label class="flex flex-col gap-4">
        <span>Description</span>
        <textarea
          formControlName="description"
          class="px-1 py-2 rounded outline outline-primary-dark"
        ></textarea>
      </label>
    </div>

    <div class="flex justify-center pt-8">
      <button
        type="submit"
        [disabled]="form.invalid"
        class="mt-8 py-3 px-6 cursor-pointer rounded"
        [ngClass]="
          form.valid
            ? 'bg-accept-primary border-2 border-lime-500 text-lime-500 hover:bg-accept-hover transition-colors ease-linear delay-75'
            : ' text-red-500 cursor-not-allowed'
        "
      >
        Update
      </button>
    </div>
  </form>
</section>

<ng-template appSnackbar></ng-template>